html {
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: rgb(238, 238, 238);
}

.container-fluid {
    width: 100%;
    height: 100vh;
}

h1 {
    font-size: 28px;
    padding-top: 20px;
    color: #13375B;
    width: 58rem;
    position: fixed;
}

.left-img {
    vertical-align: bottom;
}

.left-img img {
    height: 40rem;
    margin-top: -54px;
    margin-left: -12px;
}

.main-banner {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: -68px;
}

.main-banner img {
    height: 13rem;
    margin-top: 25px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 35px 30px -30px;
}

.main-banner img::after {}

p {
    margin-top: -185px;
    margin-left: 13px;
    width: 120px;
    height: 165px;
    font-size: 11px;
    color: #707070;
    filter: drop-shadow(0px 0px 0px #707070);
    position: absolute;
    text-align: center;
    font-style: oblique;
}

.text-block p1 {
    font-size: 11px;
    width: 141px;
    margin-left: 17px;
    margin-top: 36px;
    color: #C9503D;
    font-style: oblique;
    position: absolute;
}

a {
    text-decoration: none;
    color: #707070;
}

a:hover {
    color: #707070;
}

.text-block {
    margin-top: -127px;
    position: absolute;
}

.text-block span {
    font-size: 13px;
    margin-left: 16px;
    font-weight: 500;
    font-style: oblique;
}

.text-box {
    margin-top: -227px;
}

.text-block textarea {
    border-radius: 10px;
    border: none;
    text-align: center;
    overflow-y: hidden;
}

textarea {
    border-radius: 10px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 0px #707070);
}

textarea::after {
    border: none;
    outline: none;
    background-color: rgba(42, 41, 36);
}

.notes {
    width: 138px;
    height: 31px;
    margin-top: 3px;
    margin-left: -128px;
    position: absolute;
    background: none;
}

.notes1 {
    background-attachment: local;
    background-image: linear-gradient(to right, #F2F1EC 10px, transparent 10px), linear-gradient(to left, #F2F1EC 10px, transparent 10px), repeating-linear-gradient(#F2F1EC, #F2F1EC 30px, #ccc 30px, #ccc 31px, #F2F1EC 31px);
    line-height: 31px;
    padding: 8px 10px;
    width: 262px;
    margin-top: -99px;
    margin-left: 7px;
    font-size: 11px;
    height: 187px;
    filter: none;
    /* background-color: #F2F1EC; */
}

.modal {
    top: 20%;
}

.modal-logo img {
    height: 4rem;
}

.right-icons {
    margin-top: -35px
}

.right-img img {
    height: 15rem;
    margin-left: -20px;
}

.submit-button img {
    height: 150px;
    margin-left: 220px;
    margin-top: 18px;
}

.post-box img {
    height: 11rem;
    margin-top: 9px !important;
    margin-left: 103px;
    position: absolute;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}

footer span {
    position: absolute;
    font-size: 14px;
    padding-top: 2px;
    margin-left: 98px;
    color: black;
}

.sliding-button {
    margin-top: 35px;
}

.footer {
    background-color: rgb(71, 157, 255);
    height: 5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-color: white;
    border-top: 5px solid white;
    animation: footer-slide 4s;
}

.expand-button img {
    width: 20rem;
}

@keyframes footer-slide {
    0% {
        height: 0;
        opacity: 0;
    }
    100% {
        height: 5rem;
        opacity: 1;
    }
}

.footer p1 {
    color: white;
    font-size: 13px;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer img {
    height: 5rem;
    margin-top: -48px;
    margin-left: -49px;
    position: absolute;
}

.footer h6 {
    text-align: center;
    margin-top: 38px;
    color: white;
}

.hide-bar {
    margin-top: -61px;
    margin-left: 83rem;
}

.hide-bar i {
    font-size: 41px;
    position: absolute;
    margin-left: 112px;
    margin-top: -10px;
    color: white;
}

.footer span {
    position: absolute;
    font-size: medium;
    margin-left: 75px;
    color: white;
    margin-top: 38px;
}

#slide-bar {
    display: none;
}
@media screen and (min-width:1280px){
    .main-banner {
        padding-left: 0px;
        padding-right: 0;
        margin-top: -68px;
    }
    .right-img img {
        height: 12rem;
        margin-left: 0px;
        margin-top: 4rem;
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {
    h1 {
        font-size: 22px;
        padding-top: 20px;
        color: #13375B;
        width: 46rem;
        position: fixed;
    }
    .left-img img {
        height: 29rem;
        margin-top: -80px;
        margin-left: -12px;
    }
    .main-banner {
        padding-left: 40px;
        padding-right: 40px;
        margin-top: -104px;
    }
    .main-banner img {
        height: 9rem;
        margin-top: 25px;
        box-shadow: rgb(0 0 0 / 45%) 0px 35px 30px -30px;
    }
    p {
        position: absolute;
        margin-top: -127px;
        margin-left: 11px;
        width: 78px;
        height: 165px;
        font-size: 7px;
        text-align: center;
        color: #707070;
        filter: drop-shadow(0px 0px 0px #707070);
    }
    .right-img img {
        height: 10rem;
        margin-left: -20px;
    }
    .post-box img {
        height: 6rem;
        margin-top: 52px;
        margin-left: 103px;
    }
    .submit-button img {
        height: 115px;
        margin-left: 220px;
        margin-top: 17px;
    }
    .notes {
        width: 93px;
        margin-top: 104px;
        margin-left: 8px;
        font-size: 8px;
        height: 129px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    h1 {
        font-size: 18px;
        width: 34rem;
    }
    .left-img {
        vertical-align: bottom;
        padding-top: 33px;
    }
    .left-img img {
        height: 22rem;
        margin-top: -118px;
        margin-left: -12px;
    }
    .main-banner {
        /* padding-left: 60px; */
        /* padding-right: 60px; */
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -115px;
        text-align: center;
        margin-left: -27px;
    }
    .main-banner img {
        height: 7rem;
        margin-top: 24px;
    }
    p {
        position: absolute;
        margin-top: -102px;
        margin-left: 9px;
        width: 72px;
        height: 165px;
        font-size: 6px;
        text-align: center;
        color: #707070;
        filter: drop-shadow(0px 0px 0px #707070);
    }
    .text-block {
        margin-top: -240px;
        position: absolute;
    }
    .notes {
        width: 73px;
        margin-top: 134px;
        margin-left: 10px;
        font-size: 6px;
        height: 99px;
    }
    .right-img img {
        height: 8rem;
        margin-left: -17px;
        margin-top: -48px;
    }
    .submit-button img {
        height: 85px;
        margin-left: 150px;
        margin-top: 15px;
    }
    .post-box img {
        height: 5rem;
        margin-top: 29px;
        margin-left: 61px;
    }
}


/* @media screen and (min-width1024) { */


/*      */


/* } */


/*  */