#animation_container1,
#animation_container2 {
    position: relative;
    height: 100%;
    width: 200%;
    overflow: hidden;
    /* margin-top: 20px auto; */
    padding: 0px;
    background: white;
    display: inline-block;
    font-size: 0;
}

#animation_container1 {
    -webkit-animation: rightmove 35s linear infinite;
}

#animation_container2 {
    -webkit-animation: leftmove 35s linear infinite;
}

#animation_container1 img,
#animation_container2 img {
    height: 100%;
    width: 100%;
    display: inline;
    overflow: visible;
}

.modal video {
    padding: 2rem;
    height: 100%;
    width: 100%;
}

@media screen and (max-width:768px) {
    .animated_img {
        overflow-x: hidden !important;
    }
    .anim-card {
        width: 100%;
    }
    .anim-card .card {
        width: 100% !important;
    }
    .animation-cards {
        width: 100%;
    }
    .animation_videos .btn-get {
        width: 10rem;
        font-size: 1.2rem;
    }
    .anim-img-card {
        width: 100%;
    }
    .animated_img .card {
        width: 20rem;
    }
}

@media screen and (max-width:592px) {
    .ui-primary-heading {
        font-size: 2.5rem !important;
        margin-top: 3rem;
    }
    .animated_img {
        overflow-x: hidden !important;
    }
    .anim-card {
        width: 100%;
    }
}