/* Sliding from left to right */

@keyframes leftmove {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}


/* Sliding from right to left */

@keyframes rightmove {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}


/* Opacity */

@keyframes displaycontent {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}