/* Sliding from left to right */

@-webkit-keyframes leftmove {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}


/* Sliding from right to left */

@-webkit-keyframes rightmove {
    from {
        left: -100%;
    }
    to {
        left: 0%;
    }
}

@keyframes rightmove1 {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}

@-webkit-keyframes rightmove1 {
    from {
        left: 0%;
    }
    to {
        left: -100%;
    }
}


/* Opacity */

@keyframes displaycontent {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}