#header_section_heading .teritiary-heading{
  margin-top: 5rem !important;
}
#header_section_heading .teritiary-heading{
  color: #48928c;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}
#header_section_heading .section-title-info{
  font-size: 2.5rem
}
.banner_video {
  height: auto;
  object-fit: contain;
  width: 100%;
  margin: 4rem 0;
}
.header_videos_block{
  display: flex;
}
#animation_container1,
#animation_container2 {
  position: relative;
  height: 100%;
  width: 200%;
  overflow: hidden;
  /* margin-top: 20px auto; */
  padding: 0px;
  background: white;
  display: inline-block;
  font-size: 0;
}

#animation_container1 {
  -webkit-animation: rightmove 35s linear infinite;
  animation: rightmove 35s linear infinite;
}

#animation_container2 {
  -webkit-animation: leftmove 35s linear infinite;
  animation: leftmove 35s linear infinite;
}

#animation_container1 img,
#animation_container2 img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: inline;
  overflow: visible;
}

#animation_container1:hover {
  animation-play-state: paused;
}

.modal video,
.modal .modalbox_img {
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.modal video {
  display: none;
}

.modal iframe {
  padding: 2rem;
  height: 48.5rem;
  object-fit: cover;
  width: 100%;
}

.preview_options .option {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1rem 4rem;
  /* cursor: pointer; */
}

.preview_options .option a {
  text-decoration: none;
  color: var(--color-grey-dark);
}

.preview_options .option a:active {
  color: var(--color-neon-dark);
}

#illustrators_container,
#img_3d_container,
#animation_container {
  display: none;
}

#img_3d_container .sketchfab-embed-wrapper iframe,
#all_container iframe {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1920px) {
  #header_section_heading{
    margin-top: 8rem !important;
  }
  .header_videos_block{
    width: 85%;
  }
  .anim_header_section {
    margin-top: 5rem;
  }
  .anim_header_section .primary-info {
    text-align: justify;
    padding: 0 0 0 5rem;
  }
  .animation-cards {
    width: 78%;
  }
  .animation_videos .card {
    height: 20rem;
  }
  .animation_videos .card video,
  .animation_videos .card iframe {
    height: 100%;
  }
  .sketchfab-embed-wrapper {
    height: 100%;
    width: 100%;
  }
  .animated_img .card {
    height: 25.4rem;
  }
}

@media screen and (max-width: 1440px) {
  #header_section_heading{
    margin-top: 8rem !important;
  }
  .header_videos_block{
    width: 100%;
  }
  .slider-section {
    width: 100%;
  }
  .anim_header_section {
    width: 95%;
  }
  .anim_header_section .secondary-heading {
    font-size: 3.5rem;
  }
  .anim_header_section .primary-info {
    padding: 0 2rem;
  }
  .animation-cards {
    width: 95%;
  }
  .animation_videos .card {
    height: 18.2rem;
  }
  .animated_img .card {
    height: 19rem;
  }
}

@media screen and (max-width: 1280px) {
  .header_videos_block{
    width: 100%;
  }
  .anim_header_section .secondary-heading {
    font-size: 3.3rem;
  }
  .anim_header_section .header-img img {
    object-fit: cover;
  }
  .animation-cards {
    width: 95%;
  }
  .animation_videos .card {
    height: 16rem;
  }
  .animated_img .card {
    height: 16.5rem;
  }
}

@media screen and (max-width: 1024px) {

  #header_section_heading .section-title-info {
    font-size: 3rem !important;
}
  .header_videos_block{
    width: 100%;
  }
  .header_videos_block{
    flex-wrap: nowrap;
  }
  .animation_videos .card {
    height: 17rem;
  }
  .animated_img .card {
    height: 13rem;
  }
}

@media screen and (max-width: 768px) {
  #header_section_heading .section-title-info{
    font-size: 2.5rem !important;
  }
  .header_videos_block{
    width: 100%;
  }
  .header_videos_block{
    justify-content: center !important;
    flex-wrap: wrap !important;
  }
  .banner_video{
    height: 20rem;
    margin: 2rem 0;
  }
  .anim_header_section {
    width: 100%;
  }
  .anim_header_section .secondary-heading {
    font-size: 2.8rem;
  }
  .anim_header_section .primary-info {
    font-size: 1.3rem;
  }
  .anim_header_section .header-img img {
    object-fit: cover;
    height: 26rem;
  }
  .preview_options .option {
    font-size: 1.6rem;
  }
  .animated_img {
    overflow-x: hidden !important;
  }
  .anim-card {
    width: 100%;
  }
  .anim-card .card {
    width: 100% !important;
  }
  .animation-cards {
    width: 100%;
  }
  .animation_videos .btn-get {
    width: 10rem;
    font-size: 1.2rem;
  }
  .anim-img-card {
    width: 100%;
  }
  .animation_videos .card {
    height: 20.2rem;
  }
  .animated_img .card {
    height: 16rem;
    width: max-content;
  }
  #animation_container1 {
    -webkit-animation: rightmove 15s linear infinite;
    animation: rightmove 15s linear infinite;
  }
}

@media screen and (max-width: 592px) {

  #header_section_heading .teritiary-heading{
    font-size: 2.5rem !important;
  }
  #header_section_heading .section-title-info{
    font-size: 2rem !important;
  }
  .header_videos_block{
    width: 100%;
  }
  .header_videos_block{
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .banner_video{
    height: auto;
    margin: 1rem 0;
  }
  .ui-primary-heading {
    font-size: 2.5rem !important;
    margin-top: 3rem;
  }
  .animated_img {
    overflow-x: hidden !important;
  }
  .animation-cards {
    width: 75%;
  }
  .preview_options .option {
    padding: 1rem 3rem;
  }
  .anim-card {
    width: 100%;
  }
  .animation_videos .card {
    height: 11.2rem;
  }
  .animated_img .card {
    height: 16rem;
    width: max-content;
  }
  #animation_container1 {
    -webkit-animation: rightmove 15s linear infinite;
    animation: rightmove 15s linear infinite;
  }
}

@media screen and (max-width: 425px) {
  #header_section_heading .teritiary-heading{
    font-size: 2rem !important;
  }
  .header_video_section{
    flex-wrap:inherit !important;
  }
  .banner_video{
    margin: 2rem 0;
  }
  .anim_header_section .secondary-heading {
    font-size: 2.2rem;
  }
  .anim_header_section .primary-info {
    font-size: 1rem;
  }
  .animation_videos {
    margin-top: 0;
  }
  .preview_options .option {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
  .animation_videos .card {
    height: 16.4rem;
  }
  .animation_videos .card {
    height: 16.3rem !important;
  }
  .animated_img .card {
    height: 16rem;
    width: max-content;
  }
  #animation_container1 {
    -webkit-animation: rightmove 15s linear infinite;
    animation: rightmove 15s linear infinite;
  }
}
