.companies img {
  width: 10rem;
  height: 10rem;
}

.companies {
  color: var(--color-white);
}

.tracking {
  width: 85%;
  margin-top: 10rem;
}

.tracking img {
  margin-top: 4rem;
}

.tracking .header-img {
  text-align: center;
  background-color: transparent;
}

.tracking .header-img img {
  height: 14rem;
  width: 100%;
  background-color: transparent;
}

.card7,
.small_card {
  /* height: 28rem; */
  width: 33.33%;
  margin: 2rem;
  text-align: center;
  background-color: var(--color-white);
  border-radius: 3px;
  box-shadow: 0 1.6rem 1rem #eeeeee;
}

.card7 img {
  height: 25rem;
  object-fit: contain;
  /* width: 10rem; */
}

.small_card {
  background: none !important;
}

.small-card {
  height: 46%;
  width: 100%;
  margin: 10px 0;
  background-color: var(--color-grey-light1);
}

.testimonials .card8 {
  width: 50%;
  height: 20rem;
  margin: 1rem;
  background-color: var(--color-grey-light1);
}

.testimonials .secondary-heading {
  width: 90%;
}

.card-heading {
  color: var(--color-neon-dark);
  font-size: 3rem;
}

.cards,
.features-card,
.features-heading,
.testimonial-header,
.testimonial-card {
  width: 85%;
}

.bigcard {
  /* height: 15rem; */
  margin: 0 1rem;
  background-color: var(--color-grey-light1);
}

.bigcard img {
  width: 100%;
  /* height: 100%; */
}

.bigcard .card-body {
  width: 100%;
}

.cards .card8 {
  width: 33.33%;
  /* height: 15rem; */
  margin: 1rem;
  background-color: var(--color-grey-light1);
}

.cards .card8 img {
  width: 100%;
  height: 18rem;
}

.testimonials .card8 .card-body {
  width: 150%;
}

.testimonials .cards .card8 img {
  width: 100%;
  height: 85%;
  margin: 2rem;
}

.testimonial-card img {
  width: 100%;
  height: 90%;
  margin: 2rem;
}

.companies,
.statistics {
  background-color: var(--color-black);
  height: 15rem;
}

.manage-bg {
  color: var(--color-white);
  background-color: var(--color-black);
  margin-top: 10rem;
  padding: 4rem 0;
}

.projects .secondary-heading {
  margin-top: 10rem;
  margin-left: 13rem;
}

.features-section,
.save-money-section,
.track-crypto-section,
.testimonials,
.statistics,
.companies {
  margin-top: 10rem;
}

.save-money,
.tracking-crypto {
  width: 85%;
}
