.arts_bg {
  background: linear-gradient(
    to right,
    var(--color-white) 0%,
    var(--color-white) 50%,
    var(--color-black) 50%,
    var(--color-black) 100%
  );
  height: 100vh;
  overflow: hidden;
}

.arts_bg ::-webkit-scrollbar {
  display: none;
}

.arts_bg .menu_bar img {
  background-color: var(--color-white);
  border-radius: 50%;
}

.modal-body {
  /* background-color: gray; */
  overflow: hidden;
}

.modal-body .carousel-control-prev,.modal-body .carousel-control-next {
  margin-top: 25%;
  height: max-content;
}

.carousel-indicators {
  margin-left: 0;
  justify-content: start;
  width: 100% !important;
  height: 100% !important;
  margin-top: -10px;
}

#carousel_indicators {
  flex-wrap: nowrap;
  overflow-x: hidden;
  width: 100%;
  /* display: flex;
    justify-content: center; */
}

.carousel-indicators {
  position: absolute;
  top: 50%;
  /* left: 150%; */
  z-index: 15;
  text-align: center;
  list-style: none;
}

.carousel-indicators img {
  height: 9rem !important;
  width: 14.8rem !important;
  object-fit: contain;
  filter: drop-shadow(2px 4px 4px grey);
}

.carousel-item {
  width: 100% !important;
}

.carousel-item img {
  width: 100%;
  height: 49.5rem;
  margin-top: -3rem;
  padding: 0 2rem;
  object-fit: contain;
  /* background-color: aquamarine; */
}

.carousel-control-prev,
.carousel-control-next {
  background-color: var(--color-grey-light1);
  /* opacity: 0.3; */
  color: black;
  border-radius: 50%;
  height: 4.5rem !important;
  width: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  margin: 0 3rem;
}

.next,
.prev {
  height: 4rem !important;
  width: 5% !important;
  font-size: 2rem;
  border-radius: 50%;
  border: none;
  margin: 3rem 1rem !important;
}

.next {
  float: right;
}

.container1 {
  height: 50rem;
  scroll-behavior: auto;
  overflow: auto;
}

.container2 {
  height: 50rem;
  overflow: auto;
}

#arts_nav {
  background-color: transparent;
  position: fixed;
}

.nav-link {
  color: #000;
}

.nav-link3 h4 {
  text-align: end;
}

.nav-link1 h4,
.nav-link1 h6 {
  margin-left: 3rem;
}

.nav-link3 h4,
.nav-link3 h6 {
  margin-right: 3rem;
}

.arts_primary_heading {
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-black);
}

.card5 {
  /* width: 13rem !important; */
  height: 30rem;
  margin-top: 6rem;
  border: none;
  /* background-color: var(--color-grey-light1); */
  box-shadow: 0px 1px 4px 0px grey;
  position: inherit;
}

.card5:hover {
  transform: scale(1.15);
  transition: transform 0.6s ease-in-out;
}

.card5 img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
  /* background-color: var(--color-grey-light1); */
}

.card5 .card-text {
  color: var(--color-black);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}

.container2 .card-text {
  color: var(--color-white);
}

a {
  text-decoration: none;
}

.btn-more {
  width: 12rem;
  background-color: black;
  color: white;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1920px) {
  .container1,
  .container2 {
    height: 76rem;
  }
  .card5 {
    height: 55rem;
    margin-top: 8rem;
  }
  .card5 img {
    height: 55rem;
  }
}

@media screen and (max-width: 1280px) {
  .container1,
  .container2 {
    height: 46rem !important;
  }
  .card5 {
    height: 30rem;
    margin-top: 8rem;
  }
  .card5 img {
    height: 30rem;
  }
}

@media screen and (max-width: 1440px) {
  .container1,
  .container2 {
    height: 52rem;
  }
  .card5 {
    /* margin: 6rem 2rem 0 2rem; */
    height: 35rem;
  }
  .card5 img {
    height: 35rem;
  }
}

@media screen and (max-width: 1024px) {
  .container1,
  .container2 {
    height: 43rem !important;
  }
  .card5 {
    /* margin: 6rem 2rem 0 2rem; */
    height: 28rem !important;
  }
  .card5 img {
    height: 28rem !important;
  }
}

@media screen and (max-width: 768px) {
  .container1,
  .container2 {
    height: 43rem;
  }
  .card5 {
    margin: 6rem 2rem 0 2rem;
    height: 25rem !important;
  }
  .card5 img {
    height: 25rem !important;
  }
}

@media screen and (max-width: 592px) {
  .card5 {
    height: 15rem !important;
  }
  .card5 img {
    height: 15rem !important;
  }
  .card5 .card-text {
    font-size: 1.2rem;
  }
  .carousel-item img{
    height: 19rem;
    margin-top: 0;
  }
  .modal-body .carousel-control-prev, .modal-body .carousel-control-next {
    margin-top: 20% !important;
    height: 2.5rem !important;
    width: 2.5rem;
    font-size: 2rem;
    margin: 0 5px;
}
.carousel-indicators {
  margin-top: 0;
}
.carousel-indicators img {
  height: 3.6rem !important;
}
.next, .prev {
  height: 3rem !important;
  width: 6% !important;
  font-size: 1rem;
  margin: 1.5rem 1rem !important;
}
}
