/* Google Font Family Imports */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-cream-light: #eeeeee;
  --color-blue-light: #5ee6eb;
  --color-blue-dark: #42c2ff;
  --color-neon-dark: #48928c;
  --color-cream-light: #fffbe9;
  --color-orange-dark: #fc832e;
  --color-grey-dark: #1c2026;
  --color-yellow-dark: #ce9505;
  --color-yellow-light: #fec83c;
  --color-grey-light: #24282f;
  --color-grey-light1: #F5F5F5;
  --color-pink-light: #ffddee;
  --color-blue-light: #dff6ff;
  --color-navy-light: #f0f0f0;
  --color-purple: #7900ff;
  --color-grey: #2e2e2e;
  --color-grey-light2:#F1EEE9;
}

* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: "Spartan", sans-serif;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
