.logo {
    margin-left: 8rem;
}

.logo img {
    height: 7rem;
    margin: 1rem;
}

.menu_bar {
    margin: 0 8rem;
}

.menu_bar img {
    height: 4rem;
    margin: 1rem;
    /* background-color: var(--color-white); */
}

@media screen and (max-width: 552px) {
    .logo {
        margin-left: 0;
    }
    .logo img {
        margin: 0;
        height: 5rem;
    }
    .menu_bar {
        margin: 0;
    }
    .menu_bar img {
        margin: 0;
        height: 4rem;
        /* background-color: var(--color-white); */
    }
}

a {
    text-decoration: none;
}

.header-links a {
    color: var(--color-white);
    font-size: 2.2rem;
    text-decoration: none;
    margin: 0 5rem 0 5rem;
}

.header-links a :hover {
    color: var(--color-black);
    background-color: var(--color-black);
}

.social__icons img {
    width: 4rem;
    height: 4rem;
    margin-top: 2rem;
}

.card img {
    height: 9rem;
}

.card_icon {
    width: 40%;
    text-align: end;
}

.card_text {
    width: 60%;
    text-align: center;
}

.card_icon .virtual_img {
    width: 38rem;
    margin-left: 1rem;
}

footer {
    background-image: url(../images/bg/footer_bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 8rem;
}

footer:hover {
    background-image: url(../images/bg/footer_bg-2.png);
}

footer h5 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--color-neon-dark);
}

footer h6 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--color-neon-dark);
}

footer p {
    font-size: 1.6rem;
    margin-top: 5rem;
    margin-bottom: 0;
}

footer .social__icons img {
    margin-top: 0;
}