a {
  text-decoration: none;
}
.header-links a{
  color: var(--color-white);
  font-size: medium;
  text-decoration: none;
  margin: 0 5rem 0 5rem;
}

.header-links a :hover{
  color: var(--color-black);
  background-color:var(--color-black);
}

.social__icons img {
  width: 5rem;
  height: 5rem;
  margin-top: 2rem;
}
