.slider_bg {
  background-image: url(../images/bg/slider-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 60rem;
  position: relative;
}
.navbar img {
  height: 5rem;
}
.banner1_img img {
  height: 46rem;
}
video {
  height: 46rem;
  object-fit: cover;
  width: 100%;
}

.section-title {
  font-size: 14rem;
  font-family: inherit;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 2rem;
  color: var(--color-neon-dark);
}

.section-title-info {
  font-size: 3rem;
  font-family: inherit;
  font-weight: 300;
  text-transform: capitalize;
  padding-left: 2rem;
  color: var(--color-black);
  text-align: justify;
}

.card {
  height: 10rem;
  width: 100%;
  filter: drop-shadow(0px 1px 2px grey);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card h5,
.big-card h5 {
  font-size: medium;
  text-transform: uppercase;
  color: var(--color-neon-dark);
}
.big-card {
  height: 21rem;
  background-color: white;
  filter: drop-shadow(0px 1px 2px grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.domains,
.testimonial {
  margin-top: 8rem;
}
