/*BASE CSS*/
@import url(base.css);
/*LAYOUT CSS*/
@import url(layout.css);
/*COMPONENT CSS*/
@import url(component.css);
/*ANIMATION CSS*/
@import url(animation-effects.css);
/*SQUAD CSS*/
@import url(squad.css);
/*CAREERS CSS*/
@import url(careers.css);
/*TEAM CSS*/
@import url(team.css);
/*GAMING CSS*/
@import url(gaming.css);
/*EDUCATION CSS*/
@import url(education.css);
/*METAVERSE CSS*/
@import url(metaverse.css);
/*VIRTUAL-TOURS CSS*/
@import url(virtual-tours.css);
/*ARTS CSS*/
@import url(arts.css);
/*ARTS-ILLUSTRATORS CSS*/
@import url(arts-illustrator.css);
/*UI/UX CSS*/
@import url(ui-ux.css);
/*APPS CSS*/
@import url(apps.css);
/*ANIMATION CSS*/
@import url(animation.css);
50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.card .view_more:hover {
  background-color: var(--color-neon-dark);
  color: var(--color-white); }

.animation_videos .card:hover .view_more {
  opacity: 1; }

/* .animation_videos .ui-secondary-heading {
    margin-left: 12rem;
} */
.animated_img .card {
  height: 16.3rem;
  transition: transform 0.6s;
  /* width: 20rem; */
  /* margin: 1rem; */ }

.animated_img .card:hover {
  transform: scale(1.12);
  animation: none !important; }

.animation-cards {
  width: 85%; }

.animated_img_cards,
.anim_cards {
  width: 100%; }

.anim-card {
  width: 100%; }

.anim-card .card img {
  height: 100%;
  width: 100%;
  object-fit: contain; }

.anim-img-card {
  width: 20%;
  margin: 1rem; }

.resources {
  background-color: var(--color-grey-light1);
  padding: 3rem;
  width: 85%; }

.resources-img {
  width: 50%;
  margin: 1rem; }

.resources-img img {
  width: 100%;
  height: 35rem;
  background-color: aliceblue; }

.create-NFT,
.animation_videos,
.resources-section,
.animated_img {
  margin-top: 8rem; }

.cards-1 .card-1 {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: aliceblue; }

.cards-1,
.nft-img {
  width: 50%;
  margin: 2rem; }

.nft-img img {
  height: 100%;
  width: 100%; }

/* .button-links {
    margin-left: 14rem;
} */
.button-links .btn-get {
  margin: 1rem;
  /* width: auto; */
  color: var(--color-neon-dark); }

.button-links .btn-get:hover {
  color: var(--color-white); }
