/* Google Font Family Imports */

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
    font-family: "Spartan", sans-serif;
}

.nocturnal {
    width: 100%;
    /* margin: 1.8rem 2.4rem; */
    margin-top: 8rem;
}

.nocturnal h4 {
    font-family: inherit !important;
    font-size: 4.5rem !important;
    color: #343434;
    margin-top: 3rem;
    margin-left: 3rem;
}

.nocturnal .info-paragraph {
    font-family: inherit !important;
    font-size: 3.5rem !important;
    color: #48928c !important;
    text-align: justify;
    margin-left: 3rem;
}

.nocturnal span {
    font-size: 3rem;
    font-weight: 500;
}


/*Team Card Start*/

.team-section {
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
}

.our-team {
    padding: 40px 0 50px 15px;
    margin-bottom: 30px;
    background-color: #f7f5ec;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.our-team .picture {
    display: inline-block;
    height: 100%;
    width: auto;
    margin-bottom: 0;
    z-index: 1;
    position: relative;
}

.our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 0;
    position: absolute;
    bottom: 95%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
    height: 100%;
}

.our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.our-team .picture img {
    width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
    transform: scale(0.7);
}

.our-team .name {
    display: block;
    font-size: 18px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
}

.our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #48928c;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social {
    bottom: 0;
}

.our-team .social li {
    display: inline-block;
}

.our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
}

.our-team:hover .picture img {
    transform: scale(0.6);
}

.our-team {
    width: 95%;
    margin-left: 5%;
    padding: 40px 0 50px 0px;
}

.our-team .social li a {
    font-size: 15px;
}

.sub_title {
    font-size: 13px !important;
}


/*Team Card End*/


/* @media screen and (min-width: 1366px) and (max-width: 1375px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 3.8rem;
    color: #343434;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 1.2rem;
    color: #48928c;
    text-align: justify;
  }
}

@media screen and (max-width: 1394px) {
  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 3.7rem;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.4rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1431px) {
  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 3.7rem;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.4rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1456px) {
  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 3.9rem;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.5rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1468px) {
  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 3.9rem;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.5rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1470px) {
  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 2.5rem;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.5rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 1478px) {
  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 2.5rem;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.5rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1480px) and (max-width: 1489px) {
  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 3.9rem;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.5rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1490px) and (max-width: 1499px) {
  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4rem;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.5rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1500px) and (max-width: 1550px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4.2rem !important;
    color: #343434;
    margin-left: 2rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.5rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1551px) and (max-width: 1580px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4.2rem !important;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.7rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1581px) and (max-width: 1640px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4.2rem !important;
    color: #343434;
    margin-left: 5rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.7rem;
    color: #48928c;
    text-align: justify;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1641px) and (max-width: 1680px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4.5rem !important;
    color: #343434;
    margin-left: 6rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.7rem;
    color: #48928c;
    text-align: justify;
    margin-left: 6rem;
  }
}

@media screen and (min-width: 1681px) and (max-width: 1750px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4.5rem !important;
    color: #343434;
    margin-left: 8rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.7rem;
    color: #48928c;
    text-align: justify;
    margin-left: 8rem;
  }
}

@media screen and (min-width: 1751px) and (max-width: 1790px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4.5rem !important;
    color: #343434;
    margin-left: 8rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.7rem;
    color: #48928c;
    text-align: justify;
    margin-left: 8rem;
  }
}

@media screen and (min-width: 1791px) and (max-width: 1820px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4.5rem !important;
    color: #343434;
    margin-left: 12rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.9rem;
    color: #48928c;
    text-align: justify;
    margin-left: 12rem;
  }
}

@media screen and (min-width: 1821px) and (max-width: 1860px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4.5rem !important;
    color: #343434;
    margin-left: 12rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 2.9rem;
    color: #48928c;
    text-align: justify;
    margin-left: 12rem;
  }
}

@media screen and (min-width: 1861px) and (max-width: 1890px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 4.8rem !important;
    color: #343434;
    margin-left: 10rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 3.1rem;
    color: #48928c;
    text-align: justify;
    margin-left: 10rem;
  }
}

@media screen and (max-width: 2560px) {
  body {
    clear: both;
  }

  .nocturnal {
    width: 100%;
  }

  .nocturnal h3 {
    font-family: inherit !important;
    font-size: 6.7rem !important;
    color: #343434;
    margin-left: 10rem;
  }

  .nocturnal p {
    font-family: inherit !important;
    font-size: 4.3rem;
    color: #48928c;
    text-align: justify;
    margin-left: 10rem;
  }
} */