.virtual_primary_heading {
    font-size: 5rem;
    font-weight: 600;
    color: var(--color-neon-dark);
    /* width: 65%; */
}

.virtual_teritiary_heading {
    font-size: 2rem;
    color: var(--color-white);
}

.virtual_primary_info {
    font-size: 1.3rem;
    color: var(--color-white);
    /* width: 80%; */
    /* padding: 0 20rem; */
}

.building_section {
    text-align: center;
    margin-top: 10rem;
}

.building_section img {
    height: 10rem;
    width: 10rem;
    margin: 3rem 0;
    background-color: var(--color-white);
}

.building_virtual {
    /* width: 85%; */
}

.buy,
.staking,
.created {
    width: 33.33%;
    padding: 5rem;
}

.total_builds_number {
    color: var(--color-white);
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 4rem;
}

.builds_name {
    color: var(--color-white);
    font-size: 1rem;
}

.total_builds,
.total_bidding {
    width: 20%;
    text-align: center;
}

.total_bidding {
    display: flex;
    align-items: center;
    justify-content: end;
}

.digital_assets_img {
    width: 60%;
}

.digital_assets_img img {
    height: 35rem;
    width: 100%;
    background-color: var(--color-white);
}

.virtual_destination {
    text-align: center;
    margin-top: 8rem;
}

.total_builds_info {
    width: 100%;
}

.digital_text,
.digital_img {
    width: 50%;
}

.digital_img img {
    width: 100%;
    height: 25rem;
    background-color: var(--color-white);
}

.virtual_info {
    display: flex;
    justify-content: center;
    padding: 0 12rem;
}

.str-button {
    margin-top: 4rem;
}

.str-button a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.6rem;
    padding: 1rem;
}

.str-button a:hover {
    background-color: var(--color-neon-dark);
}

.tech_icons img {
    height: 8rem;
    width: 15rem;
    background-color: var(--color-white);
}

.lands,
.avatars,
.parcels,
.arts {
    text-align: start;
}

.bidding_numbers {
    text-align: end;
}

@media screen and (max-width:592px) {
    .metaverse_heading_bg {
        padding: 1rem 2rem;
    }
    .metaverse_heading {
        width: 100%;
        text-align: center;
    }
    .virtual_primary_heading {
        font-size: 3.8rem;
        text-align: start;
    }
    .virtual_primary_info {
        text-align: start;
        font-size: 1.8rem;
        padding: 0;
    }
    .virtual_teritiary_heading {
        font-weight: 600;
    }
    .meta_secondary_heading {
        text-align: start;
        font-size: 2.8rem;
    }
    .meta_secondary_info {
        font-size: 1.8rem;
    }
    .building_section .virtual_primary_info {
        text-align: justify;
    }
    .building_features {
        flex-direction: column !important;
    }
    .buy,
    .staking,
    .created {
        width: 100%;
        padding: 0;
    }
    .virtual_info {
        padding: 0;
    }
    .total_builds_info,
    .digital_twins_info
    /* .technologies_info { */
    {
        flex-direction: column !important;
    }
    .total_builds,
    .digital_assets_img,
    .total_bidding {
        width: 100%;
    }
    .digital_twins {
        text-align: center;
    }
    .digital_text,
    .digital_img {
        width: 100%;
    }
    .meta_heading1 {
        font-size: 2.8rem
    }
    .building_virtual {
        width: 100%;
    }
    .building-features {
        flex-direction: column !important;
    }
    .buy,
    .staking,
    .created {
        width: 100%;
    }
    .total_builds_info {
        width: 100%;
    }
    .digital_lands {
        display: flex;
    }
    .lands,
    .avatars,
    .parcels,
    .arts {
        text-align: center;
        width: 25%;
    }
    .bidding_numbers {
        text-align: center;
    }
    .digital_img {
        margin-top: 2rem;
    }
}